
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    width: 120px;
    height: 75px;
    float: left;
    padding: 8px;;
}

body{
    font-family: Georgia, 'times', Times, serif;
    color: #333;
    line-height: 1.2;
    background-color: lightgray;
}

p{
    margin-bottom: 1.3em;
}

header{
    background-color: steelblue;
    color: white;
    align-items: center;
    width: 100%;
    height: 100px;
}

#encabezado{
    text-align: center;
    margin-top: 15px;
}

h1{
    text-align: center;
}

#container{
    width: auto;
    text-align: center;
}

nav{
    background-color: azure;
    width: 100%;
    height: 100px;
    padding: 25px 0;
    border: solid 3px lightblue;
}

#container a{
    margin-left: 15px;
    padding: 2px 0;
    float: none;
    text-decoration: none;
    align-items: center;
}

a:hover{
    color: gray;
    background-color:lightskyblue;
    text-decoration: underline;
    font-weight: bold;
}


#principalcontent{
    background-color:red;
    width: 100%;
    height: calc(100vh - 200px);
    display: flex;
}

#primarycontent{
    background-color:lightgray;
    width: 100%;
    height: 100%;
}

#secondarycontent{
    background-color:white;
    width: 30%;
    height: 100%;
}

footer{
    background-color:beige;
    width: 100%;
    height: 100px;
    text-align: center;
    padding: 25px 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold ;
}

p{
    text-align: justify;
    padding: 0 3px 0 0;
}

.content{
    list-style-type: disc;
    list-style-position: inside;
    padding: 0 0 0 4px;
}

table{
    background-color:azure;
    text-align: left;
    border-collapse: collapse ;
    width: 100%;
}

th,td{
    border: solid 1px black;
    padding: 5;
}

thead{
    background-color: steelblue;
    border-bottom: solid 5px black;
    text-align: center;
}

tr:nth-child(even){
    background-color:lightgray;
}

tr:hover td{
    background-color: steelblue;
    color:white;
}

#secondarycontent{
    padding: 0 0 0 25px;
}